<html>
    <head>
        <title>Bob's blog</title>
    </head>
    <body>
        <div>
            <h1>Martimus Software Blogging Web Site</h1>
            <p>Established 10/23/2015</p>
        </div>
        <div>
            <p>published 10/23/2015</p>
            <h2>My 1st Post</h2>
            <p>This is a test of my first blog.  I hope you like it</p>
        </div>
        <div>
            <p>Working so far...</p>
            <p>published 10/23/2015</p>
            <h2>My 2nd Post</h2>
            <p>What is going on here???</p>
        </div>
    </body>
</html>
